.DS_Store

spark-2.2.1-bin-hadoop2.7
spark-2.2.1-bin-hadoop2.7.tgz
spark-warehouse
lib/
pyvenv.cfg
bin/activate*
bin/easy_install*
bin/pip*
bin/python*
metastore_db/
output/**/failed/*
output/**/passed/*
*.pyc
